In [93]:
# imports
import pandas as pd
import os
import requests as re
import foursquare
import sqlite3
from sqlite3 import Error

# Foursquare

Send a request to Foursquare with a small radius (1000m) with the location of your choice

In [6]:
fsqkey = os.environ["FOURSQUARE_API_KEY"]
url = "https://api.foursquare.com/v3/places/search?ll=51.03734231611936%2C-114.07726999320349&radius=1000&categories=13003%2C13040%2C13065&"
headers = {
    "Accept": "application/json",
    "Authorization": fsqkey
}
response = re.get(url, headers=headers)
b = response.json()

In [273]:
lstt = []
for ele in b['results']:
    for i in ele['categories']:
        lstt.append(i['name'])
lstt

['Restaurant',
 'Restaurant',
 'Bar',
 'Brewery',
 'Restaurant',
 'Pub',
 'Sports Bar',
 'Diner',
 'Café',
 'Coffee Shop',
 'Fast Food Restaurant',
 'Thai Restaurant',
 'Vietnamese Restaurant',
 'Café',
 'Coffee Shop',
 'Restaurant',
 'Bakery',
 'Coffee Shop',
 'French Restaurant',
 'Bar',
 'Brewery',
 'Comfort Food Restaurant',
 'Burger Joint',
 'English Restaurant',
 'Sandwich Restaurant']

In [261]:
lsttt = []
for ele in lstt:
    if ele in ['Restaurant','Bar','Bakery', 'Café','Thai Restaurant']:
        lsttt.append(ele)

In [267]:
lsttt[5] = 'Restaurant'

In [16]:
url = "https://api.foursquare.com/v3/places/search?ll=51.03734231611936%2C-114.07726999320349&radius=1000&categories=13003%2C13040%2C13065&fields=rating"
headers = {
    "Accept": "application/json",
    "Authorization": fsqkey
}
response = re.get(url, headers=headers)
c = response.json()

Parse through the response to get the POI details you want (rating, name, location, etc)

In [179]:
lstn = []
lstl = []
try:
    for ele in b['results']:
        lstn.append(ele['name'])
        lstl.append(ele['location']['address'])
except KeyError:
        pass
lstn

['Blanco Cantina',
 'Anejo',
 'Trolley 5 Restaurant and Brewery',
 'Ship & Anchor Pub',
 'Analog Coffee',
 'Thai Tai',
 'Philosafy Coffee',
 'Yann Haute Patisserie',
 'Last Best Brewing & Distilling',
 'Holy Grill']

In [180]:
lstl

['723 17 Ave SW',
 '723 17 Ave SW',
 '728 17 Ave SW',
 '534 17 Ave SW',
 '740 17 Ave SW',
 '615 17th Ave SW',
 '632 17 Ave SW',
 '301A39 23 Ave SW',
 '607 11 Ave SW',
 '827 10 Ave SW']

In [181]:
lstr =[]
for ele in c.values():
    for i in ele:
        lstr.append(i)

In [182]:
#gives an error but it still appends the rating values to a list
lstrr = []
for ele in lstr:
    for i in ele.values():
        lstrr.append(i)

AttributeError: 'str' object has no attribute 'values'

In [192]:
lstn
lstl
lstrr

[8.8, 8.5, 8.2, 8.3, 8.0, 7.9, 7.8, 9.0, 8.6, 8.9]

Put your parsed results into a DataFrame

In [271]:
di = {'Name': lstn, 'Location':lstl, 'Rating':lstrr}

In [272]:
df = pd.DataFrame(di)
df.sort_values('Rating', ascending = False)

                               Name          Location  Rating
7             Yann Haute Patisserie  301A39 23 Ave SW     9.0
9                        Holy Grill     827 10 Ave SW     8.9
0                    Blanco Cantina     723 17 Ave SW     8.8
8    Last Best Brewing & Distilling     607 11 Ave SW     8.6
1                             Anejo     723 17 Ave SW     8.5
3                 Ship & Anchor Pub     534 17 Ave SW     8.3
2  Trolley 5 Restaurant and Brewery     728 17 Ave SW     8.2
4                     Analog Coffee     740 17 Ave SW     8.0
5                          Thai Tai   615 17th Ave SW     7.9
6                  Philosafy Coffee     632 17 Ave SW     7.8

# Yelp

Send a request with the same location paramaters (location, radius, etc)

In [32]:
ykey = os.environ["YELP_API"]
url = 'https://api.yelp.com/v3/businesses/search?latitude=51.03734231611936&longitude=-114.07726999320349&radius=1000&categories=bars,restaurants,desserts&businesses[x].rating'
headers = {'Authorization': 'bearer '+ykey}
response = re.get(url, headers=headers)
z= response.json()

Parse through your result and get POI details

In [85]:
lstny = []
for ele in z['businesses']:
    lstny.append(ele['name'])

In [84]:
lstry = []
for ele in z['businesses']:
    lstry.append(ele['rating'])

In [89]:
lstrry = []
for ele in lstry:
    lstrry.append(ele*2)

In [65]:
x = []
for ele in lstx:
    x.append(ele['address1'])

In [195]:
dic = {'Name':lstny, 'Location':x, 'Rating':lstrry}

Put your parsed results into a DataFrame

In [196]:
df1 = pd.DataFrame(dic)
df1.sort_values('Rating', ascending = False)

                                        Name                  Location  Rating
14                    European Bakery & Deli          515 17 Avenue SW    10.0
3               Alumni Sandwich & Liquor Bar             725 17 Ave SW     9.0
17                             Galaxie Diner         1413 11 Street SW     9.0
16  Tamarind Vietnamese Grill & Noodle House             908 12 Ave SW     9.0
15                                  Lulu Bar          510 17 Avenue SW     9.0
8                             The Holy Grill        827 10th Avenue SW     9.0
13                     Yann Haute Patisserie        329 23rd Avenue SW     9.0
1                             Ten Foot Henry        1209 1st Street SW     9.0
11                       Betty Lou's Library          908 17 Avenue SW     9.0
0                           UNA Pizza + Wine        618 17th Avenue SW     8.0
12                      Briggs Kitchen + Bar  100 - 317 10th Avenue SW     8.0
18            Last Best Brewing & Distilling          607 11 Avenue SW     8.0
10                                 Trolley 5        728 17th Avenue SW     8.0
9                          Ship & Anchor Pub          534 17 Avenue SW     8.0
7                                 Model Milk           308 17th Avenue     8.0
6                                   Shokunin        2016 4th Street SW     8.0
5                    Native Tongues Taqueria          235 12 Avenue SW     8.0
4                              Analog Coffee        740 17th Avenue SW     8.0
2                                   The Coup        924 17th Avenue SW     8.0
19                       Charcut Roast House   101-899 Centre Street S     8.0

# Google (stretch)

Use the same process as the first two APIs

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

In [94]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [95]:
connection = create_connection("sm_app.sqlite")

Connection to SQLite DB successful

In [96]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [104]:
#NOT USING SINCE IM GOING RIGHT FROM DATAFRAME TO DATABASE
create_restaurantsfq_table = """
CREATE TABLE IF NOT EXISTS restaurantsfq (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL,
  location TEXT NOT NULL,
  rating INTEGER
);
"""

In [105]:
execute_query(connection, create_restaurantsfq_table)

Query executed successfully

In [102]:
create_restaurantsy_table = """
CREATE TABLE IF NOT EXISTS restaurantsy (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL,
  location TEXT NOT NULL,
  rating INTEGER
);
"""

In [106]:
execute_query(connection, create_restaurantsy_table)

Query executed successfully

In [147]:
df.to_sql(name= 'restaurantsfsq', con=connection, if_exists='replace', index = True)

10

In [148]:
connection.commit()

In [149]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [150]:
select_restaurants = "SELECT * from restaurantsfsq"
restaurants = execute_read_query(connection, select_restaurants)

for ele in restaurants:
    print(ele)

(0, 'Blanco Cantina', '723 17 Ave SW', 8.8)
(1, 'Anejo', '723 17 Ave SW', 8.5)
(2, 'Trolley 5 Restaurant and Brewery', '728 17 Ave SW', 8.2)
(3, 'Ship & Anchor Pub', '534 17 Ave SW', 8.3)
(4, 'Analog Coffee', '740 17 Ave SW', 8.0)
(5, 'Thai Tai', '615 17th Ave SW', 7.9)
(6, 'Philosafy Coffee', '632 17 Ave SW', 7.8)
(7, 'Yann Haute Patisserie', '301A39 23 Ave SW', 9.0)
(8, 'Last Best Brewing & Distilling', '607 11 Ave SW', 8.6)
(9, 'Holy Grill', '827 10 Ave SW', 8.9)

In [151]:
df1.to_sql(name= 'restaurantsy', con=connection, if_exists='replace', index = True)

20

In [152]:
connection.commit()

In [153]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [157]:
select_restaurants = "SELECT * from restaurantsy"
restaurants = execute_read_query(connection, select_restaurants)

for ele in restaurants:
    print(ele)

(0, 'UNA Pizza + Wine', '618 17th Avenue SW', 8.0)
(1, 'Ten Foot Henry', '1209 1st Street SW', 9.0)
(2, 'The Coup', '924 17th Avenue SW', 8.0)
(3, 'Alumni Sandwich & Liquor Bar', '725 17 Ave SW', 9.0)
(4, 'Analog Coffee', '740 17th Avenue SW', 8.0)
(5, 'Native Tongues Taqueria', '235 12 Avenue SW', 8.0)
(6, 'Shokunin', '2016 4th Street SW', 8.0)
(7, 'Model Milk', '308 17th Avenue', 8.0)
(8, 'The Holy Grill', '827 10th Avenue SW', 9.0)
(9, 'Ship & Anchor Pub', '534 17 Avenue SW', 8.0)
(10, 'Trolley 5', '728 17th Avenue SW', 8.0)
(11, "Betty Lou's Library", '908 17 Avenue SW', 9.0)
(12, 'Briggs Kitchen + Bar', '100 - 317 10th Avenue SW', 8.0)
(13, 'Yann Haute Patisserie', '329 23rd Avenue SW', 9.0)
(14, 'European Bakery & Deli', '515 17 Avenue SW', 10.0)
(15, 'Lulu Bar', '510 17 Avenue SW', 9.0)
(16, 'Tamarind Vietnamese Grill & Noodle House', '908 12 Ave SW', 9.0)
(17, 'Galaxie Diner', '1413 11 Street SW', 9.0)
(18, 'Last Best Brewing & Distilling', '607 11 Avenue SW', 8.0)
(19, 'Charcut Roast House', '101-899 Centre Street S', 8.0)

Get the top 10 restaurants according to their rating

In [172]:
#UNION used because join puts the values side by side, while UNION stacks them on one another, and then using rating to order to get the top 10 by rating
joined_restaurants = "SELECT * FROM restaurantsy UNION SELECT * FROM restaurantsfsq ORDER BY Rating DESC LIMIT 10"
all_restaurants = execute_read_query(connection, joined_restaurants)
for ele in all_restaurants:
    print(ele)

(14, 'European Bakery & Deli', '515 17 Avenue SW', 10.0)
(1, 'Ten Foot Henry', '1209 1st Street SW', 9.0)
(3, 'Alumni Sandwich & Liquor Bar', '725 17 Ave SW', 9.0)
(7, 'Yann Haute Patisserie', '301A39 23 Ave SW', 9.0)
(8, 'The Holy Grill', '827 10th Avenue SW', 9.0)
(11, "Betty Lou's Library", '908 17 Avenue SW', 9.0)
(13, 'Yann Haute Patisserie', '329 23rd Avenue SW', 9.0)
(15, 'Lulu Bar', '510 17 Avenue SW', 9.0)
(16, 'Tamarind Vietnamese Grill & Noodle House', '908 12 Ave SW', 9.0)
(17, 'Galaxie Diner', '1413 11 Street SW', 9.0)

# Travelling Salesman Problem (stretch)

If you have time, follow the steps in the [ortools tutorial](https://developers.google.com/optimization/routing/tsp) using Google's [Directions API](https://developers.google.com/maps/documentation/directions/start).